body {
    background-color: beige;
}

h1 {
    color: cornflowerblue;
    transition: color .5s ease-in-out;
}

.click {
    color: tomato;
}

.sexy-font {
    font-family: 'Roboto Mono', monospace;
}